Flask
Flask-RESTful
Flask_SQLAlchemy
Marshmallow
Flask-Marshmallow
Flask-JWT-Extended
marshmallow-sqlalchemy
requests
python-dotenv
Flask-OAuthlib
oauth2
flask-uploads
flask-migrate
psycopg2
boto3
flask-wtf
uwsgi